<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>ZhuHai Bus Notifier - Settings</title>
    <link rel="stylesheet" type="text/css" href="../css/popup.css">
    <link rel="stylesheet" type="text/css" href="../css/lib/semantic.min.css">
</head>
<body>

<div class="ui segment">
    <h2 class="ui aligned center header">
        <img class="ui image" src="../images/icon48.png">
        <div class="content">
            ZhuHai Bus Notifier Settings
        </div>
    </h2>
</div>

<div class="ui grid">
    <div class="three wide column">
        <div class="ui vertical fluid pointing menu">
            <a class="active item">
                线路配置
            </a>
            <a class="item">
                Monitor
            </a>
        </div>
    </div>
    <div class="thirteen wide stretched column">
        <div id="line-setting-panel" class="ui segment">
            Hello
        </div>
    </div>
</div>

<script src="../js/options.js"></script>
<script src="../js/lib/jquery-3.3.1.min.js"></script>
<script src="../js/lib/semantic.min.js"></script>
</body>
</html>