<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>ZhuHai Bus Notifier - setups</title>
    <link rel="stylesheet" type="text/css" href="../css/popup.css">
    <link rel="stylesheet" type="text/css" href="../css/lib/semantic.min.css">
</head>
<body>

<!-- Header -->
<div class="ui segment">
    <h2 class="ui aligned center header">
        <img class="ui image" src="../images/icon48.png">
        <div class="content">
            ZhuHai Bus Notifier setups
        </div>
    </h2>
</div>

<div class="ui grid">
    <!-- Menu on the left -->
    <div class="three wide column">
        <div class="ui vertical blue fluid pointing menu">
            <a id="line-setup" class="active item">
                线路配置
            </a>
            <a id="line-mgr" class="item">
                我的关注
                <div id="line-mgr-count" class="ui label">
                    0
                </div>
            </a>
        </div>
    </div>

    <!-- Content on the right -->
    <div class="thirteen wide stretched column">
        <!-- Line setup panel -->
        <div id="line-setup-panel" class="ui segment">

            <!-- Welcome messages -->
            <div id="line-setup-panel-welcome-message" class="ui info message">
                <i class="close icon"></i>
                <span>欢迎使用本插件! 请通过以下步骤配置你想关注的巴士路线信息, 插件会自动获取该巴士路线上实时的巴士状态, 并在巴士快到站时通知你.</span>
            </div>

            <!-- Success messages, default hidden -->
            <div id="line-setup-panel-success-message" class="ui success message hidden">
                <i class="close icon"></i>
                <div class="header">
                    恭喜你! 已成功进行如下操作:
                </div>
                <ul id="line-setup-panel-success-message-list" class="list">
                </ul>
            </div>

            <!-- Error messages, default hidden -->
            <div id="line-setup-panel-error-message" class="ui error message hidden">
                <i class="close icon"></i>
                <div class="header">
                    发现如下错误, 请修正后重试:
                </div>
                <ul id="line-setup-panel-error-message-list" class="list">
                </ul>
            </div>

            <!-- Input for bus line name -->
            <div id="line-setup-panel-line-div">
                <div class="ui right labeled left icon input">
                    <i class="bus icon"></i>
                    <input id="line-setup-panel-line-input" type="text" placeholder="如: K1">
                    <a class="ui tag label">
                        输入巴士路线
                    </a>
                </div>
            </div>

            <!-- Input for bus line direction -->
            <!--<div id="line-setup-panel-from-station-div">-->
                <!--<div class="ui divider"></div>-->
                <!--<div class="ui right labeled left icon input">-->
                    <!--<i class="exchange icon"></i>-->
                    <!--<input id="line-setup-panel-from-station-input" type="text" placeholder="">-->
                    <!--<a class="ui tag label">-->
                        <!--选择起始站点(线路方向)-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->

            <!-- Input for bus line direction -->
            <div id="line-setup-panel-from-station-div">
                <div class="ui divider"></div>
                <div class="ui right labeled">
                    <div id="line-setup-panel-from-station-input" class="ui left icon search selection dropdown">
                        <i class="exchange icon"></i>
                        <input type="hidden" name="country">
                        <i class="dropdown icon"></i>
                        <div class="default text">选择起始站点</div>
                        <div class="menu">
                            <!-- values from network -->
                        </div>
                    </div>
                    <a class="ui large tag label">
                        选择起始站点(线路方向)
                    </a>
                </div>
            </div>

            <!-- Input for notify station -->
            <!--<div id="line-setup-panel-notify-station-div">-->
                <!--<div class="ui divider"></div>-->
                <!--<div class="ui right labeled left icon input">-->
                    <!--<i class="bell icon"></i>-->
                    <!--<input id="line-setup-panel-notify-station-input" type="text" placeholder="">-->
                    <!--<a class="ui tag label">-->
                        <!--选择提醒站点-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->

            <!-- Input for notify station -->
            <div id="line-setup-panel-notify-station-div">
                <div class="ui divider"></div>
                <div class="ui right labeled">
                    <div id="line-setup-panel-notify-station-input" class="ui left icon search selection dropdown">
                        <i class="bell icon"></i>
                        <input type="hidden" name="country">
                        <i class="dropdown icon"></i>
                        <div class="default text">选择提醒站点</div>
                        <div class="menu">
                            <!-- values from network -->
                        </div>
                    </div>
                    <a class="ui large tag label">
                        选择提醒站点
                    </a>
                </div>
            </div>

            <!-- Actions -->
            <div class="ui divider"></div>
            <div class="ui buttons">
                <button id="line-setup-panel-save-btn" class="ui positive button">保存</button>
                <div class="or"></div>
                <button id="line-setup-panel-reset-btn" class="ui button">重置</button>
            </div>

        </div>

        <!-- Line mgr panel -->
        <div id="line-mgr-panel" class="ui segment attached" style="display: none;">
            <!-- Welcome messages -->
            <div id="line-mgr-panel-welcome-message" class="ui info message">
                <i class="close icon"></i>
                <span>你可以点击下面任意一条巴士路线查看其详情, 也可以点击右边的<i class="delete icon"></i>删除之.</span>
            </div>

            <div class="ui text">
                <p>以下是所有你关注的路线:</p>
            </div>

            <div class="ui divider hidden"></div>


            <div class="ui grid">
                <div class="eight wide column">
                    <div id="line-mgr-panel-line-labels" class="ui relaxed divided list">
                        <!--  -->
                    </div>
                </div>

                <div class="one wide column">
                    <div class="ui vertical divider"> -></div>
                </div>


                <div class="seven wide column">
                    施工中...
                </div>
            </div>

            <div class="ui divider hidden"></div>
        </div>
    </div>
</div>

<script src="../js/lib/jquery-3.3.1.min.js"></script>
<script src="../js/lib/semantic.min.js"></script>
<script src="../js/lib/lodash.min.js"></script>
<script src="../js/lib/async.min.js"></script>
<script src="../js/lib/axios.min.js"></script>
<script src="../js/lib/moment.min.js"></script>

<script src="../js/util/data-cache.js"></script>
<script src="../js/constants/constants.js"></script>
<script src="../js/options/options-common.js"></script>
<script src="../js/options/options-setup-panel.js"></script>
<script src="../js/options/options-mgr-panel.js"></script>

</body>
</html>