<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/lib/semantic.min.css">
</head>

<body>
<div class="ui raised segments" style="width: 400px; height: 600px">
    <!-- header -->
    <div class="ui segment">
        <h4 class="ui aligned left header">
            <img class="ui image" src="../images/icon48.png">
            <div class="content">
                巴士实时信息
            </div>
        </h4>
    </div>

    <!-- switches: notification popup / refresh button / last update time / link to setup page -->

        <div class="ui segment">
            <p>Top</p>
        </div>
        <div class="ui segment">
            <p>Middle</p>
        </div>
        <div class="ui segment">
            <p>Bottom</p>
        </div>


    <!-- real time buses data for all watched lines -->

</div>

<script src="../js/lib/jquery-3.3.1.min.js"></script>
<script src="../js/lib/semantic.min.js"></script>
<script src="../js/lib/lodash.min.js"></script>
<script src="../js/popup/popup.js"></script>
</body>
</html>