<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/lib/semantic.min.css">
</head>

<body>
<div class="ui raised fluid segments" style="width: 500px;">
    <!-- header -->
    <div class="ui segment">
        <h4 class="ui aligned left header">
            <img class="ui image" src="../images/icon48.png">
            <div class="content">
                巴士实时信息
                <div id="last-update-time-label" class="sub header"><!-- Last update time here --></div>
            </div>
        </h4>
    </div>

    <!-- switches: notification popup / refresh button / last update time / link to setup page -->

    <div class="ui segment">
        <div class="ui toggle checkbox">
            <input id="extension-switch" type="checkbox" checked=checked>
            <label>插件开关</label>
        </div>
        <div class="ui divider hidden"></div>
        <div class="ui toggle checkbox">
            <input id="notification-switch" type="checkbox" checked=checked>
            <label>弹出式通知开关</label>
        </div>
    </div>

    <!-- real time buses data for all watched lines -->
    <div class="ui segment">
        <div id="buses-real-time-data" class="ui styled fluid accordion">

            <!-- Bus real time data here -->

        </div>
    </div>



</div>

<script src="../js/lib/jquery-3.3.1.min.js"></script>
<script src="../js/lib/semantic.min.js"></script>
<script src="../js/lib/lodash.min.js"></script>
<script src="../js/lib/moment.min.js"></script>
<script src="../js/constants/constants.js"></script>
<script src="../js/popup/popup-common.js"></script>
<script src="../js/popup/popup-entry.js"></script>
<script src="../js/popup/popup-msg-handler.js"></script>
</body>
</html>