<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/lib/semantic.min.css">
</head>

<body>
<div class="ui raised fluid segments" style="width: 500px;">

    <!-- header -->
    <div class="ui grid">
        <!-- Menu on the left -->
        <div class="ten wide fluid column" style="margin-top: 10px; margin-bottom: 10px; margin-left: 10px">
            <h4 class="ui aligned left header">
                <img class="ui image" src="../images/icon48.png">
                <div class="content">
                    公交实时信息
                    <div id="last-update-time-label" class="sub header"><!-- Last update time here --></div>
                </div>
            </h4>
        </div>
        <div class="five wide column fluid right aligned"
             style="margin-top: 10px; margin-bottom: 10px;  margin-left: 10px">
            <div class="circular ui icon button" data-tooltip="点此添加你的路线" data-position="bottom right" data-inverted="">
                <i id="settings-link" class="setting icon"></i>
            </div>
        </div>
    </div>


    <!-- switches: notification popup / refresh button / last update time / link to setup page -->
    <div class="ui segment">
        <div class="ui toggle checkbox" data-tooltip="插件的总开关, 打开后插件才会定时刷新数据" data-position="right center" data-inverted="">
            <input id="execution-switch" type="checkbox" checked=checked>
            <label>插件开关</label>
        </div>
        <div class="ui divider hidden"></div>
        <div class="ui toggle checkbox" data-tooltip="控制是否弹出右下角通知的开关" data-position="right center" data-inverted="">
            <input id="alarm-switch" type="checkbox" checked=checked>
            <label>弹出式通知开关</label>
        </div>
    </div>

    <!-- Reminder info -->
    <div id="reminder-segment" class="ui segment">
        <!-- Message for no data received. -->
        <div id="reminder-no-line" class="ui info message">
            <span>等待后台刷新数据... Tips: 如果是第一次使用, 可以点击右上角<i class="setting icon"></i>按钮添加路线 :)</span>
        </div>

    </div>

    <!-- real time buses data for all watched lines -->
    <div id="buses-real-time-data-segment" class="ui segment">
        <div id="buses-real-time-data" class="ui styled fluid accordion">

            <!-- Bus real time data here -->

        </div>
    </div>

</div>

<script src="../js/lib/jquery-3.3.1.min.js"></script>
<script src="../js/lib/semantic.min.js"></script>
<script src="../js/lib/lodash.min.js"></script>
<script src="../js/lib/moment.min.js"></script>
<script src="../js/constants/constants.js"></script>
<script src="../js/popup/popup-common.js"></script>
<script src="../js/popup/popup-entry.js"></script>
<script src="../js/popup/popup-msg-handler.js"></script>
</body>
</html>